# Vivado files

*.jou
*.log
*.str
*.cache
*.hw
*.ip_user_files
*.runs
*.sim
*.xpr


# Simulation files

*.wlf
*.vcd
*.fst
*.ghw


# Temporary files

*.tmp
*.bak
*.swp


# OS files

Thumbs.db
.DS_Store
